<div class = "rowwidget">
  <div class = "widgets"><div class = "bdy"><div class = "cio"><div class = "i"><i class = "fa fa-eye"></i></div>
  </div>
  <div class = "txt"><div class ="toptext">Lorem Ipsumosa</div><div class = "numbers">23456</div></div>
  </div><div class = "style pinkgradient"></div></div>
 <div class = "widgets"><div class = "bdy"><div class = "cio"><div class = "i"><i class = "fa fa-user-o"></i></div></div>
  <div class = "txt"><div class ="toptext">Lorem Ipsumosa</div><div class = "numbers">23456</div></div>
 </div><div class = "style pinkgradient"></div></div>
 <div class = "widgets"><div class = "bdy"><div class = "cio"><div class = "i"><i class = "fa fa-dashboard"></i></div></div>
   <div class = "txt"><div class ="toptext">Lorem Ipsumosa</div><div class = "numbers">23456</div></div>
 </div><div class = "style pinkgradient"></div></div>
 <div class = "widgets"><div class = "bdy"><div class = "cio"><div class = "i"><i class = "fa fa-envelope-o"></i></div></div>
   <div class = "txt"><div class ="toptext">Lorem Ipsumosa</div><div class = "numbers">23456</div></div>
 </div><div class = "style pinkgradient"></div></div>
</div>
