<div class = "topbar bx dark1">  
  <div class = "logo fl"></div>
     <span class = "col3 truncate h4  uppercase span white">NATIONAL EMERGENCY MANAGEMENT AGENCY</span>

  <i class = "  norightborder fa fa-angle-down arrow fr topbari pc"></i>
  <i class = "  norightborder fa fa-angle-down arrow fr topbari tb"></i>
  <div class = "pc"><span class = "round"></span><span class = "square"><span class = "block truncate">Lorem Ipsum</span><span class = "block truncate">Isomas Los Bosses</span></span></div>
   <div class = "tb"><span class = "round"></span><span class = "square"><span class = "block truncate">Lorem Ipsum</span><span class = "block truncate">Isomas Los Bosses</span></span></div>
<i class = "fa fa-bars fr topbari mb"></i> 
<i class = "fa fa-comments fr topbari"></i>
<i class = "fa fa-bell-o fr topbari"></i>
<i class = "leftborder fa fa-search fr topbari"></i>

</div>
