<div class = "row leftrow dark3 hidden  bb light1f ">
  <i class = " fl centertext fa fa-th-large bigi col col1" ></i><div class = "col col1"></div><div class = " col col7 truncate">Lorem Ipsum</div><i class =" col col1 fa fa-minus smalli fr"></i>
</div>
<div class = "row inrow dark3 hidden  bb light1f">
<div class = "col col1"></div><div class = " col col7 truncate">Lorem Ipsum</div>
</div>
<div class = "row inrow dark3 hidden  bb light1f">
<div class = "col col1"></div><div class = " col col7 truncate">Lorem Ipsum</div>
</div>
<div class = "row inrow dark3 hidden  bb light1f">
<div class = "col col1"></div><div class = " col col7 truncate">Lorem Ipsum</div>
</div>
<div class = "row inrow dark3 hidden  bb light1f">
<div class = "col col1"></div><div class = " col col7 truncate">Lorem Ipsum</div>
</div>
<div class = "row leftrow dark3 hidden  bb light1f">
  <i class = " fl centertext fa fa-envelope-o bigi col col1" ></i><div class = "col col1"></div><div class = " col col7 truncate">Lorem Ipsum</div><i class =" col col1 fa fa-plus smalli fr"></i>
</div>
<div class = "row leftrow dark3 hidden  bb light1f">
  <i class = " fl centertext fa fa-calendar-o bigi col col1" ></i><div class = "col col1"></div><div class = " col col7 truncate">Lorem Ipsum</div><i class =" col col1 fa fa-plus smalli fr"></i>
</div>
<div class = "row leftrow dark3 hidden  bb light1f">
  <i class = " fl centertext fa fa-area-chart bigi col col1" ></i><div class = "col col1"></div><div class = " col col7 truncate">Lorem Ipsum</div><i class =" col col1 fa fa-plus smalli fr"></i>
</div>
<div class = "row leftrow dark3 hidden  bb light1f">
  <i class = " fl centertext fa fa-file-image-o bigi col col1" ></i><div class = "col col1"></div><div class = " col col7 truncate">Lorem Ipsum</div><i class =" col col1 fa fa-plus smalli fr"></i>
</div>
<div class = "row leftrow dark3 hidden  bb light1f">
  <i class = " fl centertext fa fa-map-marker bigi col col1" ></i><div class = "col col1"></div><div class = " col col7 truncate">Lorem Ipsum</div><i class =" col col1 fa fa-plus smalli fr"></i>
</div>
<div class = "row leftrow dark3 hidden  bb light1f">
  <i class = " fl centertext fa fa-folder-o bigi col col1" ></i><div class = "col col1"></div><div class = " col col7 truncate">Lorem Ipsum</div><i class =" col col1 fa fa-plus smalli fr"></i>
</div>