<div class = "row1">
  <div class = "map">
    <div class = "mapcover">
    <div class= "maptop"><span class = "leftr">Lorem Ipsum <span class = "h">Ipsomas master</span></span><span class = "rightr"><i class = "fa fa-ellipsis-v"></i></span></div>
    </div>
      <div id = "map"></div>
    </div>
  <div class = "right">
    <div class = "display mbot">
    <div class = "mapcover">
    <div class= "maptop"><span class = "leftr">Lorem Ipsum <span class = "h">Ipsomas master</span></span><span class = "rightr"><i class = "fa fa-ellipsis-v"></i></span></div>
    </div>
    </div>
    <div class = "display">
    <div class = "mapcover">
    <div class= "maptop"><span class = "leftr">Lorem Ipsum <span class = "h">Ipsomas master</span></span><span class = "rightr"><i class = "fa fa-ellipsis-v"></i></span></div>
    </div>
    </div>
  </div>
</div>
<div class = "row2">
  <div class= "tabs width32 mr"><span class = "spanl">Ipsomas</span><span class ="spanr"><i class = "fa fa-angle-down"></i></span></div>
  <div class= "tabs width32 nomb"><span class = "spanl">Ipsomas</span><span class ="spanr"><i class = "fa fa-angle-down"></i></span></div>
  <div class= "tabs width30 nomb"><span class = "spanl">Ipsomas</span><span class ="spanr"><i class = "fa fa-angle-down"></i></span></div>
</div>
