<div class = "row1" id="row">
  <div class = "map" >
    <div class = "mapcover">
    <div class= "maptop"><span class = "leftr">Lorem Ipsum <span class = "h">Ipsomas master</span></span><span class = "rightr"><i class = "fa fa-ellipsis-v"></i></span></div>
    </div>
      <div id = "map">
        
          </div>
   <div id = "mapinset"  (click) = "switchbase();helpPO.show($event)" ></div>
   <pop-over #helpPO>
   <div class="pp">
       <div class="my-own-title">
           Title goes here
       </div>
       <div class="my-content">
           Content goes here
       </div>
   </div>
</pop-over>
    </div>
  <div class = "right">
    <div class = "display mbot">
    <div class = "mapcover">
    <div class= "maptop"><span class = "leftr">Lorem Ipsum <span class = "h">Ipsomas master</span></span><span class = "rightr"><i class = "fa fa-ellipsis-v"></i></span></div>
    </div>
    </div>
    <div class = "display">
    <div class = "mapcover"> <div class= "maptop"><span class = "leftr">Lorem Ipsum <span class = "h">Ipsomas master</span></span><span class = "rightr"><i class = "fa fa-ellipsis-v"></i></span></div>
    </div>
    </div>
  </div>
</div>
<div class = "row2">
  <div class= "tabs width32 mr"><span class = "spanl">Ipsomas</span><span class ="spanr"><i class = "fa fa-angle-down"></i></span></div>
  <div class= "tabs width32 nomb"><span class = "spanl">Ipsomas</span><span class ="spanr"><i class = "fa fa-angle-down"></i></span></div>
  <div class= "tabs width30 nomb"><span class = "spanl">Ipsomas</span><span class ="spanr"><i class = "fa fa-angle-down"></i></span></div>
</div>
<div class = "row3">
  <div class= "ltabs width32 mr">
  <div class = "mapcover"> <div class= "maptop"><span class = "leftr">Lorem Ipsum <span class = "h">Ipsomas master</span></span><span class = "rightr"><i class = "fa fa-ellipsis-v"></i></span></div></div>
   <div class = "mapcover"> <div class= "maptop th"><div class = "thumbnail me"><div class = "alerts">6</div></div>
   <div class = "namelist"><span class = "toplist">Felixson Yusuf Tosin <i class = "green"></i></span><span class = "bottomlistt">Name and iterators</span>
   </div><div class = "rightlist"><i class = "fa fa-comments-o"></i> <i class = "fa fa-calendar"></i></div> </div>
   </div><!--div mapcover-->
      <div class = "mapcover"> <div class= "maptop th"><div class = "thumbnail me"><div class = "alerts">6</div></div>
   <div class = "namelist"><span class = "toplist">Felixson Yusuf Tosin <i class = "green"></i></span><span class = "bottomlistt">Name and iterators</span>
   </div><div class = "rightlist"><i class = "fa fa-comments-o"></i> <i class = "fa fa-calendar"></i></div> </div>
   </div><!--div mapcover-->
      <div class = "mapcover"> <div class= "maptop th"><div class = "thumbnail me"><div class = "alerts">6</div></div>
   <div class = "namelist"><span class = "toplist">Felixson Yusuf Tosin <i class = "green"></i></span><span class = "bottomlistt">Name and iterators</span>
   </div><div class = "rightlist"><i class = "fa fa-comments-o"></i> <i class = "fa fa-calendar"></i></div> </div>
   </div><!--div mapcover-->
      <div class = "mapcover"> <div class= "maptop th"><div class = "thumbnail me"><div class = "alerts">6</div></div>
   <div class = "namelist"><span class = "toplist">Felixson Yusuf Tosin <i class = "green"></i></span><span class = "bottomlistt">Name and iterators</span>
   </div><div class = "rightlist"><i class = "fa fa-comments-o"></i> <i class = "fa fa-calendar"></i></div> </div>
   </div><!--div mapcover-->
      <div class = "mapcover"><div class= "maptop th nobd">
      <div class = "textinput"><input type = "text" placeholder = ""></div><div class = "iconinput"><i class = "fa fa-plus"></i></div>
      </div>
   </div><!--div mapcover-->
  </div>
  <div class= "ltabs width32">
        <div class = "mapcover"> <div class= "maptop"><span class = "leftr">Lorem Ipsum <span class = "h">Ipsomas master</span></span><span class = "rightr"><i class = "fa fa-ellipsis-v"></i></span></div>
    </div>
    <div class = "mapcover"> <div class= "maptop th"><div class = "colorl"><i class = "fa fa-sticky-note-o"></i></div>
   <div class = "namelist"><span class = "toplist">Integrated Spatial and ENvironmental managers<i class = "green"></i></span><span class = "bottomlistt">Yaba Lagos State</span>
   </div><div class = "rightlist"><i class = "fa fa-close"></i></div> </div>
   </div><!--div mapcover-->
       <div class = "mapcover"> <div class= "maptop th"><div class = "colorl bluel"><i class = "fa fa-sticky-note-o"></i></div>
   <div class = "namelist"><span class = "toplist">Integrated Spatial and ENvironmental managers<i class = "green"></i></span><span class = "bottomlistt">Yaba Lagos State</span>
   </div><div class = "rightlist"><i class = "fa fa-close"></i></div> </div>
   </div><!--div mapcover-->
       <div class = "mapcover"> <div class= "maptop th"><div class = "colorl"><i class = "fa fa-sticky-note-o"></i></div>
   <div class = "namelist"><span class = "toplist">Integrated Spatial and ENvironmental managers<i class = "green"></i></span><span class = "bottomlistt">Yaba Lagos State</span>
   </div><div class = "rightlist"><i class = "fa fa-close"></i></div> </div>
   </div><!--div mapcover-->
       <div class = "mapcover"> <div class= "maptop th"><div class = "colorl bluel"><i class = "fa fa-sticky-note-o"></i></div>
   <div class = "namelist"><span class = "toplist">Integrated Spatial and Environmental managers<i class = "green"></i></span><span class = "bottomlistt">Yaba Lagos State</span>
   </div><div class = "rightlist"><i class = "fa fa-close"></i></div> </div>
   </div><!--div mapcover-->
  <div class = "mapcover"><div class= "maptop th nobd">
      <div class = "textinput"><input type = "text" placeholder = ""></div><div class = "iconinput"><i class = "fa fa-plus"></i></div>
      </div>
   </div><!--div mapcover-->
  </div>
  <div class= "ltabs width30 ">
        <div class = "mapcover"> <div class= "maptop"><span class = "leftr">Lorem Ipsum <span class = "h">Ipsomas master</span></span><span class = "rightr"><i class = "fa fa-ellipsis-v"></i></span></div>
    </div>
  </div>
</div>
